{% extends 'base/base.html' %}
{% load check_access %}
{% block content %}
{% load dajaxice_templatetags %}
{% dajaxice_js_import %}
{%  csrf_token %}


{{message}} <br />
<p id="message"> </p> </br>
{% if event_list %}
	{% for event in event_list %}
		<button type="button" onclick="Dajaxice.apps.events.show_tabs(show_tabs_js, {'event_name':'{{event}}'})">{{event}}</button> 
        {% endfor %}
{% else %}
            <strong>There are no categories present.</strong>
{% endif %}
            


<br /> <br />
<div id="event_name"></div><br /><br />
<div id="event_tabs"></div><br /><br />
<h3 id="selected_event_tab"></h3><br />
<div id="event_tabs_description"> </div><br />

<!--DELETE TAB BUTTON-->
<div id="delete_tab_button" style="visibility:hidden;">
<form action = "" method = "post">
 {%  csrf_token %} 
<input id="eventName_hidden" type="hidden" name="eventName" value="">
<input id="eventTabName_hidden" type="hidden" name="event_tab_name" value="">
<input type="submit" name="delete_tab" value="Delete Tab">
</form>
</div> &nbsp

<!--EDIT TAB BUTTON-->
<div id="edit_tab_div"></div><br />

<!--ADD NEW TAB FORM -->
<div id="add_new_tab_form" style="visibility:hidden;">
<form name="add_tab_form" method="post" action="" onsubmit="validateAddNewTabForm()">
{%  csrf_token %}
Tab Name: <input type="text" name="tab_name"><br>
Description: <textarea name="tab_description" rows="20" cols="40" wrap="hard"></textarea>
<input id="event_name_hidden" type="hidden" name="event_name" value="">
<input type="submit" value="Create Tab" name="addNewTab">
</form>
</div>

<!--EDIT TAB FORM -->

<div id="edit_tab_form" style="visibility:hidden;">
EDIT TAB FORM
<form name="edit_form" method="post" action="" onsubmit="validateEditTabForm()">
{%  csrf_token %}
Tab Name: <input type="text" name="tab_Name" id="tab_Name_input" value=""><br>
Description: <textarea name="tab_Description" id="tab_Description_input" value="" rows="20" cols="40"></textarea>
<input id="event_Name_edit_form_hidden" type="hidden" name="event_Name_edit_form" value="">
<input id="event_tab_Name_edit_form_hidden" type="hidden" name="event_tab_Name_edit_form" value="">
<input type="submit" value="Edit Tab" name="EditTab">
</form>
</div>






<!--JS FUNCTIONS -->
<script>

function show_tabs_js(data){
    document.getElementById("event_name").innerHTML = "<h2>"+data.event_name+"</h2>";
    var arr = data.tabs_names_list.split(","); 
    var len = arr.length;
    var text = "",i;

    for (i=0; i < len; i++) {
    text += '<button type="button" onclick="Dajaxice.apps.events.show_tabs_description(show_tabs_description_js, {\'event_name\':\''+data.event_name+'\',\'event_tab\':\''+arr[i]+'\'})">'+arr[i]+'</button>' + " ";
    }
    text += '<button type="button" onclick="add_new_tab_js(\''+data.event_name+'\')"> +Add New Tab </button>' + " ";
    document.getElementById("event_tabs").innerHTML = text;
    }


function show_tabs_description_js(data){
    document.getElementById("selected_event_tab").innerHTML = data.event_tab_name;

//delete tab button
    document.getElementById("eventName_hidden").value = data.event_name;
    document.getElementById("eventTabName_hidden").value = data.event_tab_name;
    document.getElementById("delete_tab_button").style.visibility="visible";

//edit tab button    
    document.getElementById("edit_tab_div").innerHTML = '<button type="button" onclick="edit_tab_js(\''+ data.event_name + '\',\'' + data.event_tab_name + '\',\'' + data.description +'\')"> Edit Tab Name or Description</button> On clicking this button Form appears at bottom of the page';

    document.getElementById("event_tabs_description").innerHTML = data.description;
}

function add_new_tab_js(event_name){
    document.getElementById("event_name_hidden").value = event_name;
    document.getElementById("add_new_tab_form").style.visibility="visible";
    return;
}

function edit_tab_js(event_name,event_tab_name,description){
    document.getElementById("event_Name_edit_form_hidden").value = event_name;
    document.getElementById("event_tab_Name_edit_form_hidden").value = event_tab_name;

    document.getElementById("tab_Name_input").value = event_tab_name;
    document.getElementById("tab_Description_input").value = description;

    document.getElementById("edit_tab_form").style.visibility="visible";
    document.getElementById("message").innerHTML="Edit Tab form at the bottom of the page";
    return;
}

function validateAddNewTabForm() {
    var x = document.forms["add_tab_form"]["tab_name"].value;
    if (x==null || x=="" || x[0]==" ") {
        alert("New Event Tab Name must be filled. 1st letter cannot be a space");
        return false;
    }
}

function validateEditTabForm() {
    var x = document.forms["edit_form"]["tab_Name"].value;
    if (x==null || x=="" || x[0]==" ") {
        alert("Event Tab Name must be filled. 1st letter cannot be a space");
        return false;
    }
}

</script>







{% endblock %}
