{% load staticfiles %}
{% load humanize %}
{% load markdown_tags %}
{% load once %}
<table cellspacing="0" cellpadding="0" id="email_table" style="border-collapse: collapse;width: 100% !important" border="0">
<tbody>
<tr>
<td id="email_content" style="font-family: Lucida Grande, tahoma, verdana, arial, sans-serif;font-size: 12px;padding: 0;background: #fff">
<table cellspacing="0" cellpadding="0" width="100%" border="0" style="border-collapse:collapse;width:100%;">
<tbody>
<tr>
<td style="font-size:11px;font-family: Lucida Grande,tahoma,verdana,arial,sans-serif;padding:15px;background-color:#fff;border-left:none;border-right: none;border-top:none;border-bottom:none;">
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
<tbody>
<tr>
<td style="padding:15px;width:100%;">
<table cellspacing="0" cellpadding="0" align="center" id="email_table_main" style="border-collapse:collapse;width:624px;background-color:#ffffff;" border="0">
<tbody>
<tr>
<td id="header" style="padding:66px 0 4px;line-height:32px;border-bottom:#e5e5e5 solid;border-width:1px;">
<table cellspacing="0" cellpadding="0" class="header" style="border-collapse:collapse;">
<tbody>
<tr>
<td valign="middle" align="left">
<span style="display:block;height:32px;overflow:hidden;width:32px">
<img alt="{{FEST_NAME}} Logo" src="{{SITE_URL|slice:':-1'}}{%static 'img/fest_pics/favicon.ico' %}" style="width:32px;height:32px;border:0;">
</span>
</td>
<td valign="middle" style="padding:12px; width:100%">
<span style="font-family: Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;font-size:18px;color:#3b5998;">{{FEST_NAME}} ERP - {{ notification.actor.get_full_name|default:"" }}
{{ notification.verb|default:"" }} {{ notification.target.wall|default:"" }}.</span>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td style="padding:26px 0 12px;">
<span style="font-size:16px;line-height: 24px;color:#141823;font-weight:bold;font-family: Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;">Hi
{{user.get_full_name}},</span>
</td>
</tr>
<tr>
<td style="padding-bottom:12px;"><table cellspacing="0" cellpadding="0" align="center" style="border-collapse:collapse;background-color:#ffffff;width:624px;"><tbody><tr><td style=""><div><table cellspacing="0" cellpadding="0" style="border-collapse:collapse;"><tbody><tr><td style=""><span style="font-size:16px;line-height:26px;font-family:Helvetica
Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;"><span style="font-weight: bold; color: #3b5998;">
{{ notification.actor.get_full_name|default:"" }}</span> 
{{ notification.verb|default:"" }} <span style="font-weight: bold; color: #3b5998;">{{ notification.target.wall|default:"" }}.</span>
<br><br>
{% autoescape off %} 
{{ notification.action_object.description|striptags }} 
{% endautoescape %}
</span></td></tr></tbody></table></div><table cellspacing="0" cellpadding="0" style="border-collapse:collapse;"><tbody><tr><td style="padding:20px 10px 3px 0px;"><table cellspacing="0" cellpadding="0" style="border-collapse:collapse;"><tbody><tr><td valign="middle" style="width:100%;"><a href="" style="color: #3b5998;text-decoration: none"><span style="color:#141823;font-size:14px;line-height:20px;font-family:Helvetica Neue,Helvetica,Lucida Grande,tahoma,verdana,arial,sans-serif;">{{ notification.timestamp }}</span> </a></td></tr></tbody></table></td><td style="padding:20px 10px 3px
0px;"></td>
</tr>
<tr>
<td style="">
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;">
<tbody>
<tr>
<td colspan="3" style="">&nbsp;</td>
</tr>
<tr>
<td style="">
</td><td style="">
<div>
<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;">
<tbody>
<tr>
<td style="width:132px;">
<a href="" style="color: #3b5998;text-decoration: none">
<table cellspacing="0" cellpadding="0" width="100%" bgcolor="#4c649b" style="border-collapse:collapse;border-width:1px;border-style:solid;display:block;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;font-size:14px;background:-webkit-gradient(linear, left top, left bottom,color-stop(0%,rgba(77,106,162,1)),color-stop(64%,rgba(60,90,152,1)));border-color:#485a83;" class="btn_confirm"> 
<tbody>
<tr>
<td height="7" colspan="3" style="line-height:7px;">&nbsp;</td>
</tr>
<tr>
<td width="16" style="display:block;width:16px;">&nbsp;</td>
<td width="100%" style="text-align:center;">
<a href="{{SITE_URL|slice:':-1'}}{{notification.target.get_absolute_url}}" style="color: #3b5998;text-decoration: none;display: block"> 
<center>
<font size="3">
<span style="font-family:Helvetica Neue,;font-style:normal;white-space:nowrap;font-size:14px;color:#ffffff;">View
and reply on ERP</span>
</font>
</center>
</a>
</td>
<td width="16" style="display:block;width:16px;">&nbsp;</td>
</tr>
<tr>
<td height="7" colspan="3" style="line-height:7px;">&nbsp;</td>
</tr>
</tbody>
</table>
</a></td>
<td style="padding-left:10px;width:180px;">
<a href="{{SITE_URL}}" style="color: #3b5998;text-decoration: none">Go to {{FEST_NAME}} ERP</a>
</td>
</tr>
</tbody>
</table>
</div>
</td>
<td width="20" style="width:20px;">
</td></tr>
<tr>
<td colspan="3" style="">&nbsp;</td>
</tr>
</tbody>
</table>
</td>
</tr>
<tr>
<td id="thanks" style="padding-bottom:30px;font-size:16px;line-height:24px;color:#141823;font-family:Helvetica Neue,arial,sans-serif;">Thanks, <br>The {{FEST_NAME}} WebOps Team</td>
</tr>
<tr>
<td style="">
<table cellspacing="0" cellpadding="0" style="border-collapse:collapse;width:624px;margin:0
auto;">
<tbody>
<tr>
<td style="">
<table cellspacing="0" cellpadding="0" width="100%" border="0" style="border-collapse:collapse;">
<tbody>
<tr>
<td style="font-size:12px;font-family:Helvetica Neue,Helvetica,Lucida
Grande,tahoma,verdana,arial,sans-serif;padding:32px 0
36px;background-color:#ffffff;border-left:none;border-right:none;border-to=
p:1px solid #ccc;border-bottom:none;color:#898f9c;font-weight:400;line-hei=
ght:16px;text-align:left;">This message was sent to <a href="mailto:{{user.email}}" style="color: #3b5998;font-size: 12px;line-height: 16px;text-decoration: none">{{user.email}}</a>. If you don't want to receive these emails from {{FEST_NAME}} ERP in the future, please <a href="{{SITE_URL|slice:':-1'}}{{unsubscribe_link}}" style="color: #3b5998;text-decoration: none;line-height: 16px">unsubscribe</a>. {{FEST_NAME}} WebOps Team</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>