{% load staticfiles %}
<div class="row-fluid"><div class="span10">
    <div class="row-fluid right_quick_post">
        <div class="span12">
            <form method="POST" id="id_form_quick_post">
                <select id="select0" class="quick_post_to select2 select_all_list" name="quick_post_to" multiple>
                    
                </select>
                <!-- <textarea class="quick_post_to" placeholder="To " rows="1"></textarea> -->
                <textarea class="quick_post atwho_at_config  resize_textarea qucick_post_textarea" name="quick_post" placeholder="Quick Post" rows="3"></textarea>

                <a class="pull-right btn primary quick_post_submit" href="javascript:void(0)"> Quick Post </a>
            </form>
       </div>
    </div>
    <hr />
    {% comment %}
    <div class='row-fluid right_search'>
        <div class='contact_searchbar searchbar span12'>  
            <input class='input' id='rightbar_search_input' type='text' placeholder=' Search for stuff ...'>
            
        </div>
    </div>
    <div class="row-fluid right_data">
        <div class="span12 right_data_inner">
            <div class="row-fluid data_item template">
            	<a href="javascript:void(0)" class="link_no_style link">
	                <div class="pic">
	                    <img class="profile_dp display_pic" src="">
	                </div>
	                <div class="text">
	                </div>
	            </a>
            </div>
                For ajax loading ... use this template
                {% with name="template" %}
                    {% include "modules/right_data_item.html" %}
                {% endwith %}
        </div>
    </div>
    {% endcomment %}

    <div class="row-fluid">
        <div id='docs_links' class='span12 links'>
            <div class='group_link_head'>DOCS</div>
            <ul class='group_link vertical'>
                {% for drive in drive_folders %}
                    <li class="">
                    <a href="https://drive.google.com/#folders/{{ drive.1 }}" target="_blank">
                        <i class='icon-folder'></i> <span>{{drive.0}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

 </div></div>   

<style>
.rightbar {
    padding: 10px 10px;
    overflow-y : auto;  
}
.rightbar .right_quick_post .quick_post_to {
    width : 100%;
    margin : 0.5em;
}
.rightbar .right_quick_post .quick_post {
    width : 100%;    
    margin : 0.5em;
}
.rightbar .right_quick_post .quick_post_submit {
    padding : 0.5em 2em;

}
.rightbar .right_data {
    margin-left : 1em;
}
.rightbar .right_data .data_item {
    color: #141823;
    height : 30px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.rightbar .right_data .data_item:hover,
.rightbar .right_data .data_item.active {
    background-color : #dcdcde;
    border-top: 1px solid #c0c0c1;
    border-bottom: 1px solid #c0c0c1;
}
.rightbar .right_data .data_item .pic {
    float:left;
    margin : 0px 5px;
}
.rightbar .right_data .data_item .pic,
.rightbar .right_data .data_item .pic img {
    margin-top : 1px;
    height : 26px;
}
.rightbar .right_data .data_item .text {
    margin-left : 34px;
    padding-left : 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 30px;

}
.rightbar .right_search {
    width: 100%;
    margin :0.5em;
}
.contact_searchbar input {
    height : 14px;
    width : 100%;    
    padding : 4px;
    border: 1px solid #D4DAE8;
    margin : 0px;
}
.data_item.template {
    display : none;
}
.data_item {
    cursor : pointer;
}
.rightbar .group_link_head, .group_head {
    color: #999;
    font-size: 9px;
    font-weight: bold;
    padding-top : 10px;
}
.rightbar ul.group_link.vertical > li.active {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
.rightbar ul.group_link.vertical > li.active a:hover, .rightbar ul.group_link.vertical > li.active:hover {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
</style>

<script>
    function dajax_quick_post(data) {
    	var $el = $(".quick_post_submit")
    	var $el_form = $el.closest("form")
        $el.removeData("clicked").prop("disabled", false).removeClass("disabled").html("Quick Post")
        $el_form.find("textarea").prop("disabled", false).removeClass("disabled").val()
        $el_form.find("input").prop("disabled", false).removeClass("disabled").val("")
        $el_form.find(".select2-search-choice-close").click()
    }
    function right_search(query, data, search_key) {
        var item, _i, _len, _results;
        _results = [];
        for (_i = 0, _len = data.length; _i < _len; _i++) {
            item = data[_i];
            if (~item[search_key].toLowerCase().indexOf(query)) {
                _results.push(item);
            }
        }
        items = _results;
        
        var item, _i, _len, _results;
        if (!query) {
            return items;
        }
        _results = [];
        for (_i = 0, _len = items.length; _i < _len; _i++) {
            item = items[_i];
            item.atwho_order = item[search_key].toLowerCase().indexOf(query);
            if (item.atwho_order > -1) {
                _results.push(item);
            }
        }
        return _results.sort(function(a, b) {
            return a.atwho_order - b.atwho_order;
        });
    }
    $( document ).ready(function() {            
        $(".quick_post_submit").click(function() {
            var $el = $(this)
            var $el_form = $el.closest("form")
            if ( $el.data("clicked") ) {
                return
            }
            Dajaxice.apps.walls.quick_post(dajax_quick_post, {
                'post_form': $el_form.serialize(true) 
            })
            $el.data("clicked", "yes").prop("disabled", true).addClass("disabled").html("<i class='icon-loading-circle icon-rotate'></i> Posting ...")
            $el_form.find("textarea").prop("disabled", true).addClass("disabled")
            $el_form.find("input").prop("disabled", true).addClass("disabled")
        });

        $('.select2').select2();

        $(".right_search .searchbar input").keyup( function (e) {
            var el = this; var $el = $(el);
            if ( !all_list ) {
                console.log("Atwho lists not loaded yet.")
                return
            }
            search_list = right_search($el.val(), all_list, "name")
            
            $parent = $el.closest(".rightbar").find(".right_data_inner")
            $template = $parent.find(".template.data_item")
            
            $parent.find(".data_item").not(".template").remove() // delete elems
            for ( var i = 0; i < Math.min(10, search_list.length); i++ ) { // create elems again
                $new_element = $template.clone().removeClass("template")
                $new_element.find(".text").html(search_list[i].name)
                $new_element.find(".display_pic").data("id", search_list[i].id)
                
                $parent.append($new_element)

                $new_element.data("id", search_list[i].id)
                $new_element.find(".link").prop("href", site_url + "wall/user/" + search_list[i].id)
	        }
            on_dom_change()
        }).keyup()
    });
</script>