{% load staticfiles %}
{% load unread_by_wall %}
<div class="">
    <div class="row-fluid">
        <div id='profile_tab' class='span12'>
            <a href='#'>
                <img class='profile_dp display_pic' src='' alt='{{ user.email }}' data-id='{{ user.id }}' data-fbid='{{ user_profile.fbid }}' />
            </a>
            <div class='profile_name'>
                <a href="{% url 'wall' %}" class='bold'>{{ user.get_full_name }}</a>
                <br />
                <a href="{% url 'profile' %}" class=''>Edit profile</a>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div id='favourite_links' class='span12 links'>
            <div class='group_link_head'>FAVOURITES</div>
            <ul class='group_link vertical'>
                <li class="{% if current_page == 'profile' %}active{% endif %}">
                    <a href="{% url 'profile' %}">
                        <i class='icon-profile-black{% if user_profile.gender == "F" %}-female{% endif %}'></i> <span>Profile</span>
                    </a>
                </li>
                <li class="{% if current_page == 'newsfeed' %}active{% endif %}">
                    <a href="{% url 'newsfeed' %}">
                        <i class='icon-checklist'></i> <span>News feed</span>
                        {% if user.notifications.unread.count != 0 %}
                            <span class='label pull-right counter'>{{ user.notifications.unread.count }}</span>
                        {% endif %}
                    </a>
                </li>
                <li class="{% if current_page == 'contacts' %}active{% endif %}">
                    <a href="{% url 'contacts' %}">
                        <i class='icon-contact-email'></i> <span>User Contacts</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div id='page_links' class='span12 links'>
            <div class='group_link_head'>WALLS</div>
            <ul class='group_link vertical'>
                
                {% for w in erp_profile.related_walls %}
                    <li class="{% if current_page == 'wall' and wall.id == w.id %}active{% endif %}">
                        <a href="{% url 'wall' w.id %}">
                            <i class='
                                {% if w.id == erp_profile.wall.id %}
                                    icon-profile-blue{% if user_profile.gender == "F" %}-female{% endif %} 
                                {% elif w.dept %} 
                                    icon-dept 
                                {% elif w.subdept %} 
                                    icon-subdept 
                                {% elif w.page %} 
                                    icon-page
                                {% else %} 
                                    icon-wall 
                                {% endif %}'>
                            </i> 
                            <span>
                            {% if w.id == erp_profile.wall.id %}
                                Personal Wall
                            {% elif w.dept %} 
                                {{ w.name }}
                            {% elif w.subdept %} 
                                {{ w.name }}
                            {% else %} 
                                {{ w.name }}
                            {% endif %}
                            </span>
                            
                            {% with user|unread_by_wall:w.id as unreadcount%}
                                {% if unreadcount > 0 %}<span class='label pull-right counter'>{{unreadcount}}</span>{% endif %}
                            {% endwith %}
                            
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="row-fluid">
        <div id='portal_links' class='span12 links'>
            <div class='group_link_head'>PORTALS</div>
            <ul class='group_link vertical'>
                {% if erp_profile.core_relations.count %}
                    <li class="{% if current_page == 'portal_admin' %}active{% endif %}">
                        <a href='{% url "admin_portal" %}'>
                            <i class='icon-crown'></i> Admin Portal
                        </a>
                    </li>
		    {% comment %}
                    <!--<li class="{% if current_page == 'portal_events' %}active{% endif %}">
                        <a href='{% url "events_portal" %}'>
                            <i class='icon-crown'></i> Events Portal
                        </a>
		    </li>-->
		    {% endcomment %}
                {% else %}
                    <span class="muted">You have no portals ...</span>
                {% endif %}
            </ul>
            <!-- <ul class='group_link vertical'>
                <li><a href='#'>
                    <i class='icon-search'></i> Events Portal
                    {# <span class='label pull-right counter'>0</span> #}
                </a></li>
                <li><a href='#'>
                    <i class='icon-search'></i> Personal page
                    {# <span class='label pull-right counter'>0</span> #}
                </a></li>
                <li><a href='#'>
                    <i class='icon-search'></i> Personal page
                    <span class='label pull-right counter loading'><i class='icon-loading'></i></span>
                </a></li>
            </ul> -->
            

        </div>
    </div>
</div>

<style>
.sidebar {
    padding: 10px 10px;
    overflow-y : auto;
}
.sidebar #profile_tab {
    padding : 10px;
    font-size: 11px;
}
.sidebar #profile_tab .profile_dp {
    height : auto;
    width : 47px;
    margin: 3px 5px 3px 3px;
    display: inline-block;
}
.sidebar #profile_tab .profile_name {
    width : 50%;
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 0px 0px;
    display: inline-block;
    word-wrap: break-word;
    vertical-align: top;
    white-space: nowrap;
}
.sidebar .group_link_head, .group_head {
    color: #999;
    font-size: 9px;
    font-weight: bold;
    padding-top : 10px;
}
.sidebar ul.group_link.vertical > li.active {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
.sidebar ul.group_link.vertical > li.active a:hover, .sidebar ul.group_link.vertical > li.active:hover {
    font-weight : bold;
    background-color: rgb(216, 223, 234);
}
ul.group_link.vertical {
    list-style-type: none;
    margin : 0px;
}
ul.group_link.vertical > li {
    width: 100%;
    padding : 0px 0px;
}
ul.group_link.vertical > li a {
    /*padding : 0px 3px;*/
    color : black;
    width : 100%;
    display : block;
    font-size : 11px;
    padding : 3px 0px;
    /*line-height : 13px;*/
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    text-decoration : none;
    color : #333333;
}
ul.group_link.vertical > li .label {
    /*margin-right : -10px;*/
}
ul.group_link.vertical > li:hover, ul.group_link.vertical > li a:hover {
    color : black;
    text-decoration : none;
    background-color : rgb(239, 242, 247);
}
</style>
<script>
$( document ).ready(function() {
    var $win = $(window),
        $doc = $(document);
    $win.scroll(function(){
        if ( $(document).width() > 940 ) {
            $(".fixedbar").css({
                "margin-top" : $doc.scrollTop() + "px",
            })
        } else {
            $(".fixedbar").css({
                "margin-top" : $doc.scrollTop()-40 + "px",
            })
        }
    });
})
</script>
